<div id="registration-form" class="ui raised very padded text container segment">
  <h2 class="ui dividing header">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "ui form"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="grouped fields">
      <div class="two fields">
        <div class="inline field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="inline field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
    </div>

    <div class="inline field">
      <%= f.label :bio %><br />
      <%= f.text_area :bio %><br />
    </div>

        <div class="ui left floated basic segment">
          <div class="inline field">
            <%= f.label :location %>
            <%= select_tag(:location, options_for_select([["Austin", 'Austin'], ["Chicago", 'Chicago'], ["Los Angeles", 'Los Angeles'], ["New York", 'New York'], ["Seattle", 'Seattle']] ), {:class => 'ui search dropdown'})  %>
          </div>
        </div>

        <div class="ui right floated basic segment">
          <div class="ui toggle checkbox">
            <br>
            <br>
            <%= f.check_box :host, checked_value: true, unchecked_value: false %>
            <%= f.label "Become a host" %>
          </div>
        </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>


    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

  <% end %>

</div>

