<% session[:location] = current_user.homebase %>
<div id="expertise-form" class="ui raised very padded text container segment">
  <h2 class="ui dividing header">Edit booking</h2>
  <div class= "ui form">
    <%= form_for @booking, url: update_booking_path do |f| %>
      <div class="field">
        <%= label_tag 'Tourist email' %>
        <%= f.text_field :guest, :value => @booking.guest.email%>
      </div>
      <div class="field">
        <%= label_tag 'Starting Location' %>
        <%= f.text_field :meet_location %>
      </div>
      <div class="field">
        <%= label_tag 'Start Time' %>
        <%= f.datetime_field :start_time %>
      </div>
      <div class="field">
        <%= label_tag 'End Time' %>
        <%= f.datetime_field :end_time %>
      </div>
      <div class="field">
        <%= label_tag 'Summary' %>
        <%= f.text_area :summary %>
        <%= f.hidden_field :id %>
      </div>

      <%= submit_tag %>
    <% end %>
  </div>
</div>

