<div id="expertise-form" class="ui raised very padded text container segment">
  <h2 class="ui dividing header">Confirm booking</h2>
    <div class= "ui form">
      <%= form_tag(post_booking_path) do %>
        <div class="field">
          <%= label_tag 'Guest email' %>
          <%= text_field_tag :guest %>
        </div>
        <div class="field">
          <%= label_tag 'Starting Location' %>
          <%= text_field_tag :meet_location %>
        </div>
        <div class="field">
          <%= label_tag 'Start Time' %>
          <%= datetime_field_tag :start_time  %>
        </div>
        <div class="field">
          <%= label_tag 'End Time' %>
          <%= datetime_field_tag :end_time %>
        </div>
        <div class="field">
          <%= label_tag 'Summary' %>
          <%= text_area_tag :summary %>
        </div>

        <%= submit_tag %>
      <% end %>
  </div>
</div>

