<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="four wide column user-dashboard">
      <%=  image_tag @user.avatar.url(:thumb) %>
      <h2 class="ui"><%= @user.name.upcase %></h2>
      <h5 class="ui"><%= @user.homebase.capitalize %></h5>

      <% if current_user == @user %>
        <h6 class="ui"><%= link_to "Edit profile", edit_user_registration_path %></h6>
        <% if current_user.host == true %>
          <h6 class="ui"><%= link_to "Add your Expertise", add_expertise_path(@user)%></h6>
        <% elsif current_user.host == false %>
          <h6><%= link_to "Become A Host", become_host_path %></h6>
        <% end %>

      <% else %>
        <h6><%= link_to "Contact #{@user.name}", users_show_path(@user)%></h6>
      <% end %>
    </div>

    <div class="twelve wide column">
      <div class="ui three column stackable grid">
        <% @user.categories.each do |category| %>
            <div class="ui column">
              <h5><%= category.title %></h5>
              <ul>
                <% @user.tags.each do |tag| %>
                  <% if tag.category_id == category.id  %>
                    <li><%= tag.specialty %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>

      <div class="user-bio-block">
        <% if current_user == @user %>
          <h5>Your Bio</h5>
        <% else %>
          <h5><%= @user.name %>'s Bio</h5>
        <% end %>
        <span><%= @user.bio %></span>
      </div>
    </div>

    <!-- Raty Logic -->
    <% @reviews = @user.host_reviews("created_at DESC") %>
    <% if @reviews.empty? %>
      <% @avg_review = 0 %>
    <% else %>
      <% @avg_review = @reviews.average(:rating).round(2).to_i %>

      <!--Raty Stars -->
      <div class="ui compact basic segment", style="padding-left:45px;">
        <div class="star-rating" data-score='<%= @avg_review %>'></div>
        <em><%= "#{@reviews.length} reviews" %></em>
      </div>
    <% end %>

  </div>
</div>

<!-- Raty Script -->
<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
