<%= render '/users/show' %>
<div class="ui segment">
  <!-- Begin time logic -->
  <% times = {"Austin" =>  21600, "Chicago" =>  21600, "New York" => 18000, "Los Angeles" => 28800, "Seattle" =>  28800} %>
  <!-- Begin host view -->
  <% if @user.host == true && current_user == @user %>
    <!-- Begin host bookings-->
    <h2 class="ui center aligned header">
      <i class="fa fa-address-card-o" aria-hidden="true"></i>
      <div class="content">
        Your Bookings
      </div>
    </h2>
    <center>
      <%= link_to "Schedule a booking", request_booking_path(@user) %>
    </center>
    <% if @user.host_bookings.blank? %>
      <center><em>You have no bookings scheduled.</em></center>
    <% else %>
       <!-- Begin upcoming host bookings-->
      <div class="ui segments">
        <h5>Upcoming bookings</h5>
        <% flag = true %>
        <% @user.host_bookings.each do |booking| %>
          <% if booking.end_time > Time.now %>
            <% flag = false %>
            <div class="ui secondary segment">
              <%= render partial: "bookings/upcoming_host_booking", locals: {booking: booking, times: times} %>
            </div>
          <% end %>
        <% end %>
        <div class="ui secondary segment">
          <% if flag == true%>
            <p>You have no upcoming trips</p>
          <% end %>
        </div>
      </div>
      <!-- Begin completed host bookings-->
      <div class="ui segments">
        <h5>Completed bookings</h5>
        <% flag = true %>
        <% @user.host_bookings.each do |booking| %>
          <% if booking.end_time < Time.now %>
            <% flag = false %>
            <div class="ui secondary segment">
              <%= render partial: "bookings/completed_host_booking", locals: {booking: booking, times: times, flag: flag} %>
            </div>
          <% end %>
        <% end %>
        <% if flag == true %>
          <div class="ui secondary segment">
            <p>You have no recent trips</p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <!-- Begin Guest Trips -->
  <% if current_user == @user %>
    <h2 class="ui center aligned  header">
      <i class="fa fa-plane" aria-hidden="true"></i>
      <div class="content">
        Your Trips
      </div>
    </h2>
    <% if @user.guest_bookings.blank? %>
      <center><em>You currently have no trips booked.</em><br><br>
      <%= link_to "Book a trip", root_path %></center>
    <% else %>
      <!-- Begin Guest Upcoming Trips -->
      <div class="ui segments">
        <h4>Upcoming Trips</h4>
        <% @user.guest_bookings.each do |booking| %>
          <% if booking.start_time > Time.now %>
            <div class="ui secondary segment">
              <%= render partial: "bookings/upcoming_guest_booking", locals: {booking: booking, times:times} %>
            </div>
          <% end %>
        <% end %>
      </div>
      <!-- Begin Guest Completed Trips -->
      <div class="ui segments">
      <h4>Completed Trips</h4>
        <% @user.guest_bookings.each do |booking| %>
          <% if booking.end_time < Time.now %>
            <div class="ui secondary segment">
              <%= render partial: "bookings/completed_guest_booking", locals: {booking: booking, times:times} %>
            </div>
          <% end %>
        <% end %>
      </div>
      <!-- Begin Guest Reviews-->
      <div class="ui segments">
        <h4>Your Reviews</h4>
        <% @user.guest_bookings.each do |booking| %>
          <div class="ui secondary segment">
            <%= render partial: "reviews/review_view", locals: {booking: booking, times:times} %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div id="map"></div>
</div>



