<%= render '/users/show' %>
<br>
<% times = {"Austin" =>  21600, "Chicago" =>  21600, "New York" => 18000, "Los Angeles" => 28800, "Seattle" =>  28800} %>
<% if @user.host == true  %>
  <% if current_user == @user %>

    <h4 class="your-bookings">Your Bookings</h4>
    <%= link_to "Schedule a booking", request_booking_path(@user)  %>

      <% if @user.host_bookings.blank? %>
        <p>You have no bookings scheduled.</p>
      <% else %>
        <h5>Upcoming Bookings</h5>
          <% flag = true %>
          <% @user.host_bookings.each do |booking| %>
          <% if booking.start_time > Time.now %>
            <% flag = false %>
            <%= User.find(booking.guest_id).email %><br>
            <%= (booking.start_time - times[session[:location]]).to_s[0..-4] %><br>
            <%= booking.meet_location %><br>
            <%= booking.summary %><br>
            <%= link_to "Edit Bookings", edit_booking_path(id: booking.id)%><br>
            <%= link_to "Cancel Booking", cancel_booking_path(booking), :method => :delete, :confirm => "You sure?" %><br>
          <% end %>
        <% end %>
        <% if flag == true%>
          <p>You have no upcoming trips</p>
        <% end %>
        <h5>Recent Bookings</h5>
        <% flag = true %>
        <% @user.host_bookings.each do |booking| %>
          <% if booking.end_time < Time.now %>
            <% flag = false %>
            <%= User.find(booking.guest_id).email %><br>
            <%= (booking.start_time - times[session[:location]]).to_s[0..-4] %><br>
            <%= booking.meet_location %><br>
            <%= booking.summary %><br><br>
          <% end %>
        <% end %>
        <% if flag == true %>
          <p>You have no recent trips</p>
        <% end %>
      <% end %>




    <h4>Your Trips</h4>
      <% if @user.guest_bookings.blank? %>
        <p>You have no trips booked.</p>
      <% else %>


        <h5>Upcoming Trips</h5>
        <% @user.guest_bookings.each do |booking| %>
          <% if booking.start_time > Time.now %>
            <%= User.find(booking.host_id).email %><br>
            <%= booking.summary %><br>
            <%= booking.meet_location %><br>
            <%= link_to "Cancel Booking", cancel_booking_path(booking), :method => :delete, :confirm => "You sure?" %><br><br>
          <% end %>
        <% end %>
        <h5>Completed Trips</h5>
        <% @user.guest_bookings.each do |booking| %>
          <% if booking.end_time < Time.now && Review.find_by(booking_id: booking.id) == nil %>
            <%= User.find(booking.host_id).email %><br>
            <%= booking.summary %><br>
            <%= booking.meet_location %><br>
            <%=link_to "Leave a review", create_review_path(id: booking.id)  %><br>
          <% end %>
        <% end %>
      <% end %>


  <% else  %>
      <h4>Request a Booking </h4>
      <p>Select a booking</p>
  <% end %>




  <h4>Reviews</h4>
  <% @user.host_bookings.each do |booking| %>
    <% if Review.find_by(booking_id: booking.id) != nil %>
      <br><%= Review.find_by(booking_id: booking.id).body %>
      <br><div class="star-rating" data-score= <%= Review.find_by(booking_id: booking.id).rating %> ></div><br>
      <% if booking.guest == current_user %>
        <%= link_to "Edit Review", edit_review_path(id: Review.find_by(booking_id: booking.id).id)%><br>
      <% end %>
    <% end %>
  <% end %>


<% elsif @user.host == false %>


  <% if current_user == @user %>

  <h3>Your Trips</h3>
    <% if @user.guest_bookings.blank? %>
      <p>You have no trips booked.</p>
    <% else %>

      <h4>Upcoming Trips</h4>
      <% @user.guest_bookings.each do |booking| %>
        <%= render partial: "bookings/upcoming_guest_booking", locals: {booking: booking} %>
      <% end %>
      <h4>Completed Trips</h4>
      <% @user.guest_bookings.each do |booking| %>
        <%= render partial: "bookings/completed_guest_booking", locals: {booking: booking} %>
      <% end %>
    <% end %>
  <% end %>
   <h4>Your Reviews</h4>
  <% @user.guest_bookings.each do |booking| %>
    <%= render partial: "reviews/review_view", locals: {booking: booking} %>
  <% end %>
<% end %>

<!-- Google Maps Begin -->
<div id="map"></div>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.7413549, lng: -73.9980244},
      zoom: 13
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_KEY']%>&v=3&callback=initMap">
</script>



