
<h2><%= @user.name %></h2>
<h3><%= @user.homebase %></h3>

<% if @user.host == true  %>
    <% @user.categories.each do |category| %>
      <h4><%= category.title %></h4>
      <ul>
        <% @user.tags.each do |tag| %>
          <% if tag.category_id == category.id  %>
            <li><%= tag.specialty %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% if current_user.id == @user.id %>
  <%= link_to "Add your Expertise", add_expertise_path(@user)  %>
  <h4>Your Bookings</h4>
    <% if @user.host_bookings.blank? %>
      <p>You have no bookings scheduled.</p>
    <% else %>
      <% @user.host_bookings.each do |booking| %>
        <h5><%= User.find(booking.guest_id).email %></h5>
        <%= booking.start_time %><br>
        <%= booking.meet_location %><br>
        <%= booking.summary %><br>
      <% end %>
    <% end %>
     <br><%= link_to "Schedule a opening", request_booking_path(@user)  %>
  <% else  %>
  <h4> Schedule a Booking </h4>
    <p>Select a booking</p>
  <% end %>
<% else %>
  <%= link_to "Become A Host", become_host_path %>

  <h4>Your Trips</h4>
  <% if @user.guest_bookings.blank? %>
    <p>You have no trips booked.</p>
  <% else %>
    <% @user.host_bookings.each do |booking| %>
      <%= User.find(booking.host_id) %>
      <%= booking.summary %>
      <%= booking.meet_location %>
    <% end %>
  <% end %>
<% end %>



