<%= render '/users/show' %>
<br>

<% if @user.host == true  %>
  <% if current_user == @user %>


    <h4>Your Bookings</h4>
      <% if @user.host_bookings.blank? %>
        <p>You have no bookings scheduled.</p>
      <% else %>
        <% @user.host_bookings.each do |booking| %>
        <% binding.pry %>
          <% if booking.start_time > Time.now %>
            <h5><%= User.find(booking.guest_id).email %></h5>
            <%= booking.start_time %><br>
            <%= booking.meet_location %><br>
            <%= booking.summary %><br>
          <% end %>
        <% end %>
      <% end %>

      <br><%= link_to "Schedule a opening", request_booking_path(@user)  %>


    <h4>Your Trips</h4>
      <% if @user.guest_bookings.blank? %>
        <p>You have no trips booked.</p>
      <% else %>
        <% @user.guest_bookings.each do |booking| %>
          <% if booking.start_time > Time.now %>
            <h5>Upcoming Trips</h5>
            <%= User.find(booking.host_id).email %><br>
            <%= booking.summary %><br>
            <%= booking.meet_location %><br><br>
          <% end %>
          <% if booking.end_time > Time.now && Review.find_by(booking_id: booking.id) == nil%>
            <h5>Completed Trip</h5>
            <%= User.find(booking.host_id).email %><br>
            <%= booking.summary %><br>
            <%= booking.meet_location %><br>
            <%=link_to "Leave a review", create_review_path(id: booking.id)  %><br>
          <% end %>
        <% end %>
      <% end %>


  <% else  %>
      <h4>Request a Booking </h4>
      <p>Select a booking</p>
  <% end %>




  <h4>Reviews</h4>
  <% @user.host_bookings.each do |booking| %>
    <% begin %>
      <% if Review.find(booking.id) != nil %>
        <%= Review.find(booking.id).body %>
      <% end %>
    <% rescue %>
    <% end %>
  <% end %>



<% elsif @user.host == false %>


  <% if current_user == @user %>

  <h4>Your Trips</h4>
    <% if @user.guest_bookings.blank? %>
      <p>You have no trips booked.</p>
    <% else %>

    <h5>Upcoming Trips</h5>
      <% @user.guest_bookings.each do |booking| %>
        <% if booking.start_time > Time.now && Review.find_by(booking_id: booking.id) %>
          <h5>Upcoming Trips</h5>
          <%= User.find(booking.host_id).email %><br>
          <%= booking.summary %><br>
          <%= booking.meet_location %><br><br>
        <% end %>
        <% if booking.end_time > Time.now %>
          <h5>Completed Trip</h5>
          <%= User.find(booking.host_id).email %><br>
          <%= booking.summary %><br>
          <%= booking.meet_location %><br>
          <%=link_to "Leave a review", create_review_path(id: booking.id)  %><br>
       <% end %>
      <% end %>
    <% end %>
  <% end %>


<% end %>



