<%= render '/users/show' %>
<br>

<% if @user.host == true  %>

  <h4>Your Bookings</h4>
    <% if @user.host_bookings.blank? %>
      <p>You have no bookings scheduled.</p>
    <% else %>
      <% @user.host_bookings.each do |booking| %>
        <%= User.find(booking.guest_id) %>
        <%= booking.summary %>
        <%= booking.meet_location %>
      <% end %>
    <% end %>

<% elsif @user.host == false %>

  <h4>Your Trips</h4>
    <% if @user.guest_bookings.blank? %>
      <p>You have no trips booked.</p>
    <% else %>
      <% @user.host_bookings.each do |booking| %>
        <%= User.find(booking.host_id) %>
        <%= booking.summary %>
        <%= booking.meet_location %>
      <% end %>
    <% end %>
<% end %>



