<h2><%= @category.title %> in <%= current_location %></h2>
<% if @filtered_users.blank? %>
  <%= @error %>
<% else %>
  <% @filtered_users.each do |user| %>
    <p><%= link_to user.name, users_show_path(user) %> - <%= user.homebase %></p>
  <% end %>
<% end %>

