<div class='review-view'>
  <h4>Review for <%= @review.host.name %> </h4>
  <p><%= @review.body %></p>
  <p align="right"><small>
    <em><%= Time.at(@review.created_at).strftime("%B %e, %Y") %>, <%= @review.guest.name %>
    </em>
    , Rating: <div class="star-rating" data-score= <%= @review.rating %> ></div>
  </small></p>
</div>
