<div class="container">
  <%= form_for @review, url: {action: "update"}, html: {method: :put} do |f| %>
   <div class="field">
      <%= label_tag(:body, "How was your experience?") %>
      <%= f.text_area :body %>
     </div>
     <div class="field">
      <%= label_tag(:rating, "Overall rating:") %>
      <div id="star-rating"></div>
     </div>

    <%= f.hidden_field :booking_id, value: params[:id]  %>

    <%= f.submit "Save", id: "review-save", class: "btn btn-primary offset-sm-2 col-sm-10" %>
     </div>
  <% end %>
</div>

<!-- Raty Script -->

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>

