<!DOCTYPE html>
<html>
  <head>
    <title>Localhost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

     <div class="ui top fixed huge menu">
        <%= link_to "Home", root_path, class:"item" %>
      <div class="right menu">
        <% if !user_signed_in? %>
          <%= link_to "Log in", new_user_session_path, class:"item" %>
          <%= link_to "Register", new_user_registration_path, class:"item" %>
        <% else %>
          <%= link_to current_user.name, users_show_path(current_user), class:"item" %>

          <%= link_to "Log out", destroy_user_session_path, :method => 'delete', class:"item" %>
        <% end %>
      </div>
    </div>

    <div class="ui container">
      <div class="main">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
